<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Cars Vancouver</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="all">
</head>
<body>
    <main class="table">
        <section class="table_header">
            <h1>Used Cars Vancouver</h1>
            <div class="input-group"> 
                <input type="search" placeholder="Search Data...">
                <img src="static/images/search.png" alt="">
            </div>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th> Model </th>
                        <th> Price </th>
                        <th> City </th>
                        <th> Condition</th>
                        <th> Cylinders </th>
                        <th> Drive </th>
                        <th> Fuel </th>
                        <th> Odometer </th>
                        <th> Color </th>
                        <th> Size </th>
                        <th> Status </th>
                        <th> Transmission </th>
                        <th> Type </th>
                        <th> Link </th>
                        <th> Description </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in vehicles_table %}
                    <tr>
                        <td class="vehicle-attrs">{{ i['Vehicle Name'] }}</td>
                        <td class="vehicle-attrs"><strong> {{ i['vehicle price'] }} </strong></td>
                        <td class="vehicle-attrs">{{ i['city'] }}</td>
                        <td class="vehicle-attrs">{{ i['condition'] }}</td>
                        <td class="vehicle-attrs">{{ i['cylinders'] }}</td>
                        <td class="vehicle-attrs">{{ i['drive'] }}</td>
                        <td class="vehicle-attrs">{{ i['fuel'] }}</td>
                        <td class="vehicle-attrs">{{ i['odometer'] }}</td>
                        <td class="vehicle-attrs">{{ i['paint color'] }}</td>
                        <td class="vehicle-attrs">{{ i['size'] }}</td>
                        <td class="vehicle-attrs">{{ i['title status'] }}</td>
                        <td class="vehicle-attrs">{{ i['transmission'] }}</td>
                        <td class="vehicle-attrs">{{ i['type'] }}</td>
                        <td class="vehicle-attrs"> 
                            <a class="post-link" href="{{ i['post link'] }}">Link</a>
                        </td>
                        <td class="vehicle-attrs">
                            <div class="post-description" onclick="popupFunc()">Click for description
                                <span class="popup-text" id="desc-popup">{{ i['description'] }}</span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <script src="static/scripts/popup.js"></script>
    <script src="static/scripts/searchbox.js"></script>
</body>
</html>